.main-3-content-section {
  position: absolute;
  top: 0px;
}

.main-3-cotent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.main-3-cotent-title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 100%;
  padding: 20px;
}

.main-3-cotent-body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 100%;
  padding: 20px;
  background-color: #0F7F49;
}

.main-3-cotent-body-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
  height: fit-content;
  background-color: #FFFFFF;
  padding: 40px;
  border-radius: 10px;
}


.main-3-cotent-body-form input {
  border: none;
  border-bottom: 1px solid #A6A5A5;
  width: 100%;
  padding: 10px
}

.main-3-cotent-body-form label[for='submit'] + input {
  border: none;
  width: 100px;
  padding: 20px 0px;
  background-color: #008080;
  border-radius: 10px;
  text-align: center;
  font-size: 1em;
}


@media (max-width: 600px) {
  .main-3-content-section {
    left: 0px;
  }

  .main-3-cotent {
    flex-direction: column;
    width: 100vw;
  }
  .main-3-cotent-body-form{
    width: 100%;
  }

  .main-3-cotent{
    flex-direction: column;
    width: 100vw
  }

  .main-3-cotent-title{
     width: 100%;
  }

  .main-3-cotent-body{
     width: 100%;
  }

  .main-3-cotent-body-form{
     width: 100%;
  }

  .main-3-cotent-body-form input {
     width: 100%;
  }

  .main-3-cotent-body-form label[for='submit'] + input {
     width: 100%;
  }

}