.divFooter {
    width: 100vw;
    height: 300px;
    display:flex;
    justify-content: center;
    padding: 20px;
}

#footerImage {
    width: 50%;
    height: 50%;
}

#footerImage img {
    margin: 10px;
}

#headerMenu {
    width: 50%;
    justify-content: center;
}

#footerMenu ul {
    display: flex;
    justify-content: right;
}

.itemFooterMenu {
    list-style: none;
    margin-right : 30px;
}