#divProductSearch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 25px;
    margin-bottom: 25px;
    width: 100%;
}

#produtcForm{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px;
    border-radius: 10px;
    width: 80vw;
    max-width: 500px;
    height: 30px;
}

#searchIcon{
    color: white;
}

#searchIcon :first-child{
    position: relative;
    bottom: 5px;
}

#searchInput{
    width: 300px;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    border: 0px;
    padding: 2px 5px;
    font-size: medium;
}

#productsList{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 10px;
    overflow-y: auto;
    width: 80vw;
    max-width: 500px;
    max-height: 70vh;
    border-radius: 15px;
    background-color: rgb(70, 70, 70);
    padding: 1px;
}

.productImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
}
.productImage :first-child{
    width: 80%;
    height: 80%;
}



.product{
    display: flex;
    flex-direction: row;
    border:solid 1px;
    border-color: gray;
    background-color: aliceblue;
    color: black;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}

.productName{
    margin: 0px;
}

.fastInfo{
    margin: 0px;
    font-size: small;
}

.idProduct{
    display: none;
}

.productImage{
    width: 15%;
}
.productDetails{
    width: 70%;
}

.actionButtons{
    display: flex;
    flex-direction:column;
    justify-content: right;
}

.actionButtons a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    margin-top: 5px;
    color:black;
    font-size: larger;
}


#divFormCreateProduct, #divFormEditProduct{
    background-color: rgba(0, 0, 0, 0.77);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-top:150px;
    position: fixed;
    z-index: 1;
    color:black;
}

.createProduct, .editProduct{
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    border: 1px solid rgb(175, 175, 175);
    box-shadow: 10px 15px  50px black;
    z-index: 2;
}

.createProduct #buttonSubmit{
    font-size: medium;
    width: 130px;
    height: 40px;
    margin-top: 50px;
}